$icon-font-path: '../stylesheets/fonts/';
@import "bootstrap";
@import "bootstrap/theme";

$background:        #eafaf1;
$background-border:  #145a32 ;
$background-active: darken($background, 20%);
$color:             #fff;
$color-secondary:   #000;
$border-color:       #145a32 ;

body {
  color: $color;
  min-height: 100vh;
  background-color: $background;
}

h1, h2, h3, h4, h5, h6 {
  color:    #17202a;
}

footer {
  padding-top: 2em;
}

.nav.opal-sidebar {
  background-color: $background;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

  a {
    color: #5D6B72;
  }

  > li > a {
    padding: 5px 20px;
  }

  .nav > li > a {
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 90%;
  }

  li.active > a {
    font-weight: bold;
  }

  li.active > a {
    color: #34789a;
  }
}

select#rw-index, .well {
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}

blockquote {
  border-left: 8px solid $border-color;
  padding: 9.5px 9.5px;
}

blockquote p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
}

code {
  color: #444444;
  background-color: #f8f8f8;
  border: 0px;
  margin: 0 2px;
  padding: .2em;
  font-family: Menlo, Consolas, "Courier New", monospace;
}

pre {
  background-color: #F8F8F8;
  border: 2px solid $border-color;
  border-left: 8px solid $border-color;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  
  font-family: Menlo, Consolas, "Courier New", monospace;

/*  .highlight {
    background-color: #f7f7f9;
  }*/
}

.main-title {
  padding-bottom: 32px;
}

.opal-nav {
  background-color: $background;
  border: 0px;
  border-bottom: 1px solid $background-border;
  color: $color;

  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;

  .navbar-collapse {
    // border-color: #463265;
    border-color: lighten($background, 15%);
    border-width: .5px
  }

  .navbar-brand {
    color: $color;
  }

  .navbar-nav > li.divider > a {
    color: $color;
  }

  .navbar-toggle .icon-bar {
      background-color: #888;
  }
  .navbar-nav > li > a {
    color: $color;

    &:hover {
      background-color: lighten($background-active, 10%);
      color: $color-secondary;
    }
  }

  .navbar-nav > li.active > a,
  .navbar-brand:hover,
  .navbar-nav > li.active > a:hover {
    color: $color-secondary;
    background-color: $background-active;
  }

  .navbar-toggle {
    border-color: $background;

    &:hover {
      background-color: $background;
      border-color: $background;
    }
  }
}

div#rw-title {
  margin-top: 0;
}

div#output {
  height: 200px;
}

div#editor {
  height: 300px;
}

.btn-default {
  margin-bottom: 5px;
}

.rw-output-green {
  background: #EBEE8A;
}
.rw-output-red {
  background: #FF503E;
}

div#rw-lang-container {
  margin-bottom:  15px;
}

iframe {
  border: none;
  zoom: 0.8;

  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);

  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@import "languages/ja.css.scss";
