%footer.osFooter.bg-dark.type-color-reverse-anchor-reset
  .container.padding-h-big.padding-v-bigger
    .row.collapse-b-phone-land
      .col-6
        %p.type-color-iron.type-small.margin-reset
          %span(class="glyphicon glyphicon-envelope" aria-hidden="true")
            P.O.Box 1231-00232
        %p.type-color-iron.type-small.margin-reset
          Copyright © RubyWorkout #{Time.now.year} | All Rights Reserved.
