%nav.navbar.navbar-expand-md.bg-dark.navbar-dark.opal-nav(role="navigation")
  .container-fluid
    .navbar-header 
      %a.navbar-brand(href="#{environment == :production ? '/Rw' : '/'}")
        %span(class="glyphicon glyphicon-home" aria-hidden="true")

    .navbar-header 
      = image_tag 'logo.png', class: 'osFooter__logo', alt: 'RubyWorkout logo'

      %button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
        %span.navbar-toggler-icon

    #collapsibleNavbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar
        %li
          %a.navbar-brand(href="#{environment == :production ? '/Rw/about' : '/about'}")
            %span(class="glyphicon glyphicon-list-alt" aria-hidden="true")
            About
