!!!
%html{:lang => "en"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}

    %title= current_page.data.title || 'Rw'
    %meta{:name => "description", :content => "#{current_page.data.description || 'Practice Ruby'}"}

    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', media: 'all'
    = stylesheet_link_tag 'vendor/bootstrap-theme', media: 'all'
    = stylesheet_link_tag 'vendor/codemirror', media: 'all'
    = stylesheet_link_tag 'vendor/codemirror-solarized', media: 'all'
    = stylesheet_link_tag 'vendor/pygment_solarized_light', media: 'all'
    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
    = javascript_include_tag 'vendor/codemirror-compressed-4.8'
    = javascript_include_tag 'application'

    = favicon_tag 'favicon.png', :type => 'image/ico'

  %body
    %header
      = partial 'layouts/_header'
      %script= '$(\'a[href="\'+location.pathname.replace(/\/$/,\'\')+\'"]\').parent().addClass(\'active\')'
    
    .container
      = yield

    %footer
      = partial 'layouts/_footer'
      %script= '$(\'a[href="\'+location.pathname.replace(/\/$/,\'\')+\'"]\').parent().addClass(\'active\')'