:lang(ja) {
  h2 {
    font-size: 2.6rem;
    line-height: 1.4;
  }

  h3 {
    font-size: 2.0rem;
    line-height: 1.4;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #rw-content {
    line-height: 1.86;

    blockquote p {
      line-height: 1.86;
    }
  }
}
